<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{% load static %}

<body>
<header>
    <a href="{% url 'index' %}">Главная</a>/
    <a href="{% url 'product' %}">Товары</a>/
    <a href="{% url 'add_product' %}">Добавить товар</a>/
    <a href="{% url 'login' %}">Логин</a>/
    <br><br><br>
    <a href="{% url 'contact' %}">Контакты</a>/
    <a href="{% url 'about' %}">О нас</a>/
</header>

{% block content %}{% endblock %}

</body>
</html>